@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('./iconfont.ttf?t=1631005164688') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3column:before {
  content: "\e663";
}

.icon-add:before {
  content: "\e664";
}

.icon-keyboard-26:before {
  content: "\e675";
}

